html{
font-family: 'lobster', cursive;
font-size: 16px;

}

menu{

width: 2.0rem;
height: 2.7rem;
background:#2EE3AD;
border-radius: 0,5rem;
position: absolute ;
top: 0;
left: 15%;
font-family:Arial Negrita;
font-size: 2rem;
color: white;
text-align: center;
transition: left 0,7s;

}

.checkbox:checked~.menu {
	left: 40%;
	border-radius: 0 0.5rem ;
}

.left-panel{
  width:15%;
	height:68%;
	/*safari*/
	background:-webkit-linear-gradient(#9191f2, # #F7C25F,  #F7C25F);
	/*Opera*/
	background:-o-linear-gradient(#FF8C00, #FF8C00, #FF8C00);
	/*Estandar*/
    background:linear-gradient(#FF8C00, #CF4F15,  #F88E5D);
    position:absolute;
    top:30%;
    left:-40%;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:left 0.4s;
}

.checkbox:checked~.left-panel {
	left:0;
}
}
.checkbox{
	display: none;
}

ul a{
  color:#F7F7F7;
  text-decoration:none;
}

li{
list-style:none;
  font-size:1rem;
  text-align:center;
  padding:0.05rem;
  margin:1rem 0;


}

.novedades i{
background: #3FFFD7;
color: #1F7F6B;
font-size: 30px;
padding: 5px;
width: 60px;
height: 60px;
text-align: center;
line-height: 45px;
border-radius: 50%;
border:3px solid #fff;
-webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.4);
box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.4);
text-shadow: 0 1px 0 rgba(255,255,255,0.4);
position: absolute;
left: 30px;
top: 7.5px;
transform:rotate(-45deg);
}

table{
  width:70%;
background-color:white;
  border:white;

}